*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Mac OS X files #
*.DS_Store

#IntelliJ Idea #
*.idea
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Local node modules and bower components
client/node_modules
client/bower_components

#Exclude css files
client/app/css/
